body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
}


.contenedor {
    width: 80%;
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #c76dcf;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    transition: 0.3s;
}

button:hover {
    background-color: #b952b9;
}

/* Botón de eliminar */
.eliminar {
    background-color: #d9534f;
}

.eliminar:hover {
    background-color: #c9302c;
}

/* Secciones ocultas */
.oculto {
    display: none;
}

/* Tabla */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    overflow-x: auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #b952b9;
    color: white;
}

/* Contenedor de tabla */
#tablaContainer {
    margin-top: 20px;
    overflow-x: auto;
}

/* Estilos Responsive */
@media (max-width: 650px) {
    h1 {
        font-size: 1.3em;
    }

    .contenedor {
        width: 95%;
        padding: 15px;
    }

    button {
        padding: 8px 10px;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        font-size: 0.8em;

    }

    table {
        font-size: 0.7em;
    }

    td {
        padding: 6px;
    }
}